body {
    background-color: black;
    color: white;   
    font-family: Arial;
}

h1, p {
    text-align: center;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 0;
}   

fieldset {
    border: none;
    padding: 2rem 0;
}

label {
    display: block;
    margin: 1rem 0;
}

input {
    width: 100%;
}

input[type="submit"] {
    display: block;
    width: 30%;
    margin: 1em auto;
    font-size: 1.1rem;
    border-color: white;
    min-width: 30px;
}

