body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 0;
    text-align: left;
}  

fieldset {
    border: none;
}

h3, ul {
    text-align: left;
    font-weight: normal;
}

#recipe-instructions {
    text-align: left;
    margin: 20px;
}

#recipe-instructions h2 {
    text-align: left;
    margin-bottom: 15px;
}

.instructions-text {
    white-space: pre-line;
    line-height: 1.5;
    margin-left: 20px;
}